/* Footer layout */ 
 @use '../base/variables' ;
 
footer{
  background: variables.$nero;
  color: variables.$crema;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}