/* Bottoni */
  @use '../base/variables' ;

.buttons{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  box-sizing: border-box;
  margin-top: 10px;
 list-style: none;
 text-decoration: none ;  

  .button{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid variables.$marrone;
    background-color: variables.$crema;
    transition: background-color 0.3s, transform 0.3s;
    a{
      display: inline-block;
      text-decoration: none;
      color: variables.$marrone;
    }
    
    &:hover {
      background-color: variables.$crema;
      color: variables.$crema;
      transform: scale(1.05);
    }
  
  }
}
  .btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 .submit-button{
   width: 100%;
    background-color: variables.$marrone;
    color: variables.$crema;
    border: 2px solid variables.$marrone;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: variables.$crema;
      color: variables.$marrone;
      transform: scale(1.05);
    }
 
  }
  .reset-button{
    
    width: 100%;
    background-color: variables.$crema;
    color: variables.$marrone;
    border: 2px solid variables.$marrone;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: variables.$marrone;
      color: variables.$crema;
      transform: scale(1.05);
    }
  }