/* Card component */ 
@use "../base/variables";
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 10px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }
      p {
      padding: 0 16px 20px;
      color: #555;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  .Xorantis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
