/* Reset universale */ 

 @use '../base/variables' ;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: variables.$crema;
  font-family: 'Poppins', sans-serif;
}
